.container {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-color: blueviolet;
    border: 5px dashed black;
    box-shadow: 5px 5px 10px rgb(28, 51, 60);
    margin: 40% auto;
    cursor: pointer;
    text-align: center;
}

.container:hover {
    animation: cycle 6s  infinite linear;
}

@keyframes cycle {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
    0% {opacity: 1;}
    25% {opacity: 0.75;}
    50% {opacity: 0.5;}
    75% {opacity: 0.25;}
    100% {opacity: 0;}
}

.ball {
    height: 100px;
    width: 100px;
    background-color: lightgreen;
    border-radius: 50%;
    animation: bounce 5s linear infinite;
    animation-direction: alternate;
}

@keyframes bounce {
    0%{
        transform: translate3d(100px, 60px, 0);
    }
    25%{
        transform: translate3d(150px, -60px, 0);
    }
    50%{
        transform: translate3d(200px, 60px, 0);
    }
    75%{
        transform: translate3d(250px, -60px, 0);
    }
}