body{
    background-image: url(c9327729dcba78fadd30fb0fa31e2723.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: transparent;
    display: flex;
    justify-content: center;
}
#d{
    height: auto;
    width: 50%;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 5px dotted rgb(223, 54, 24);
    padding: 20px;
    background-image: url(pexels.jpg);
    background-origin: content-box;
    background-clip: content-box;
    font-size: 80px;
    -webkit-background-clip: text;
}


div p {
    color: red;
}
div+p {
    color: blue;
}
