.clock {
    margin: 100px auto;
    background-color: burlywood;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:
     4px solid black;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: azure;
    border-radius: 100%;
    position: absolute;
    border: 1px solid black;
    top: 28.5%;
    z-index: 4;
    box-shadow: 2px 2px 2px gray ;
}

.second {
    position: absolute;
    height: 80px;
    width: 2px;
    border: 0.5px solid black;
    margin: auto;
    background-color: rgb(75, 20, 215);
    transform-origin: bottom center;
    top: 18%;
    box-shadow: 1px 1px 4px grey;
    animation: cycle 60s infinite linear;
    z-index: 3;
}

.minute {
    position: absolute;
    height: 60px;
    width: 2px;
    border: 0.5px solid black;
    margin: auto;
    background-color: rgb(118, 95, 95);
    transform-origin: bottom center;
    top: 21%;
    box-shadow: 1px 1px 4px grey;
    animation: cycle 3600s infinite linear;
    z-index: 2;
}

.hour {
    position: absolute;
    height: 55px;
    width: 6px;
    border: 0.5px solid black;
    margin: auto;
    background-color: rgb(62, 39, 39);
    transform-origin: bottom center;
    top: 22%;
    box-shadow: 1px 1px 4px grey;
    animation: cycle 43200s infinite linear;
    z-index: 1;
}

@keyframes cycle {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}